<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Company Data</title>
</head>
<body>
  <form>
    
    <label>Comapny  Name</label><input  type="text" name="cname" #name/>
    <label>Comapny  Gst</label><input  type="text" name="cgst" #gst/>
    <button (click)="createCompany(name.value,gst.value)">Add Data</button>
  </form>
  <br>
  <br>
  <app-table [list]="compayList"></app-table>
</body>
</html>